<html ng-app="angularWeather">
    <head>
        <meta charset="utf-8">
        <title>Angular Weather</title>
    </head>
    <body ng-controller="MainCtrl as main">
       
        <div>
            <input type="text" ng-model="search" enter-key="main.getWeatherByCity(search)">
            <button ng-click="main.getWeatherByCity(search)">ok</button>
        </div>
        
        <div ng-view></div>
        
        <script src="vendors/angular.min.js"></script>
        <script src="vendors/angular-route.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/MainCtrl.js"></script>
        <script src="js/services/weatherApiService.js"></script>
        <script src="js/filters/roundFilter.js"></script>
        <script src="js/directive/enterDirective.js"></script>
    </body>
</html>
