<html ng-app="angularWeather">
    <head>
        <meta charset="utf-8">
        <title>Angular Weather</title>
    </head>
    <body ng-controller="MainCtrl">
        <div>
            <input type="text" ng-model="city" >
            <button ng-click="getWeatherByCity(city)">ok</button>
        </div>
        <table>
           <thead>
               <tr>
                   <th>Lieu</th>
               </tr>
           </thead>
           <tbody>
               <tr ng-repeat="city in cities">
                   <td>{{city.city}}, {{city.country_name}} {{city.state}}</td>
               </tr>
           </tbody>
        </table>
        
        <script src="vendors/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/MainCtrl.js"></script>
        <script src="js/services/weatherApiService.js"></script>
        <script src="js/filters/roundFilter.js"></script>
    </body>
</html>